# Cannot use tf variables :-(
# https://github.com/hashicorp/terraform/issues/13022

terraform {
  backend "azurerm" {
    resource_group_name  = "{terraform_state_resource_group}"
    storage_account_name = "{terraform_state_storage_account}"
    container_name       = "{terraform_state_container_name}"
    key                  = "{terraform_state_key_name}"
  }
}